@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
body {
  height: 100vh;
  background: linear-gradient(to bottom left, #eb3f4d, #7d0711);
  font-family: 'Poppins', sans-serif;
} 
.single-item{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  width:670px;
  height:360px;
  max-width:100%;
  border:6px solid #fff;
  border-radius: 20px;
  background:whitesmoke;
  box-shadow:10px 30px 50px -20px rgba(0,0,0,0.1);
  box-sizing: border-box;
}
.left-set,
.right-set{
  position:relative;
  width:50%;
  height:100%;
}
.left-set{
  float:left;
  background: linear-gradient(#eb3f4d 50%,azure 50%);
  height:450px;
  width:320px;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
  margin-top:-50px;
  border-radius: 12px;
}
.left-set img{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  width:300px;
  height:300px;
}
.right-set{
  float:right;
  padding:2rem 1rem;
  box-sizing: border-box;
}
.right-set .subname{
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
}
.right-set .price{
  padding:1rem 0;
  font-size:2rem;
  font-weight: bold;
}
.right-set .description p{
  font-size: 0.9rem;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.right-set .color{
  margin:1rem 0;
}
.right-set .color:after{
  content:'';
  display: block;
  clear:left;
}
.right-set .color ul li{
  width:20px;
  height:20px;
  border:2px solid #aaa;
  list-style: none;
  border-radius: 4px;
  float:right;
  left:-20px;
  margin-right:0.4rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.right-set .color ul li:nth-child(1){
  background:#a6121e;
  margin-right:40px;
}
.right-set .color ul li:nth-child(1):hover{
  border-color:#a6121e;
}
.right-set .color ul li:nth-child(2){
  background:azure;
}
.right-set .color ul li:nth-child(2):hover{
  border-color:azure;
}
.right-set button{
  width:70%;
  height:40px;
  margin-top:50px;
  border-radius: 20px;
  border:none;
  background: linear-gradient(to bottom left, #eb3f4d, #7d0711);
  box-shadow: 0px 0px 50px #db8f95; 
  color:#fff;
  cursor: pointer;
}

@media (max-width: 767px){
  .left-set{
    width:100%;
    border-radius: 12px;
    margin-top:0px;
    height:300px;
  }
  .right-set{
    float:left;
    width:100%;
  }
  .single-item{
    width:95%;
    height:auto;
  }
}