*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    background: #fbf3ff;
  } 
  .container {
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  .myLeftCtn {
    position: relative;
    background: linear-gradient(45deg,#99ffdd,#006644);
    /* border-radius: 75px; */
    height: fit-content;
    width: fit-content;
    padding: 25px;
    padding-left: 50px;
  }
  .myLeftCtn header {
    color: black;
    margin: 20px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
  }

  .row{
  height: 100%;
  } 
  .myCard {
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } 
  .myLeftCtn .myInput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  }
  .myLeftCtn .myInput:focus{
    outline: none;
  } 
    label{
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
  
  .myForm {
    position: relative;
    margin-top: 25px;
  } 
  .myLeftCtn .butt {
    background: linear-gradient(45deg,#99ffdd,#006644);
    color:black;
    width: 175px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  } 
  .myLeftCtn .butt:hover {
    background: linear-gradient(white, #b3ffe6);
  }
  .myLeftCtn .butt:focus {
    outline: none;
  } 
  